<!DOCTYPE html>
<html>
  <head>
  <!-- JS -->
  <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- main js -->
  <script src='/js/main.js'> </script>
    <!-- CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
    <body>
      <div class="container">
        <h1>Add a Brewery</h1>
        <div class="row">
          <form class="col s12" action="/brew" method = "POST" id='brewForm'>
            <div class="row">
              <div class="input-field col s6">
                <input id="name" type="text" class="validate" name="name" placeholder='Name (required)' required>
                
              </div>
            </div>
             <div class="row">
            <div class="input-field col s6">
                <input id="address" type="text" class="validate" name="address" placeholder='Address (required)' required>
              </div>
            </div>
             <div class="row">
            <div class="input-field col s6">
                <input id="city" type="text" class="validate" name="city" placeholder='City (required)' required>
              </div>
            </div>
             <div class="row">
            <div class="input-field col s6">
                <input id="state" type="text" class="validate" name="state" placeholder='State (required)' required>
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="phone" type="text" class="validate" name="phone" placeholder='Phone Number'>
                
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="email" type="text" class="validate" name="email" placeholder='Email Address'>
                
              </div>
            </div>
            <div class="row">
            <div class="input-field col s6">
                <input id="lattitude" type="number" class="validate" name="lattitude" step='any' placeholder='Lattitude'>
              </div>
            </div>
             <div class="row">
             <div class="input-field col s6">
                <input id="longitude" type="number" class="validate" name="longitude" step = 'any' placeholder='Longitude'>
        
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="website" type="text" class="validate" name="website" placeholder= 'Website URL(required)' required>
                
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="mainImage" type="text" class="validate" name="mainImage" placeholder='Image Link'>
                
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="imageTwo" type="text" class="validate" name="imageTwo" placeholder='Image #2'>
                
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="imageThree" type="text" class="validate" name="imageThree" placeholder='Image #3'>
                
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="imageFour" type="text" class="validate" name="imageFour" placeholder='Image #4'>
                
              </div>
            </div>
              <div class="input-field col s6">
              <select id='dogFriendly' name='dogFriendly' required>
                <option value="" disabled selected>Choose your option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">Not Verified</option>
              </select>
              <label>Dog Friendly (required)</label>
            </div>
            <div class="input-field col s6">
              <select id='outsideFood' name='outsideFood' required>
                <option value="" disabled selected>Choose your option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">Not Verified</option>
              </select>
              <label>Outside Food (required)</label>
            </div>
            <div class="input-field col s6">
              <select id='foodTrucks' name='foodTrucks' required>
                <option value="" disabled selected >Choose your option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">Not Verified</option>
              </select>
              <label>Food Trucks (required)</label>
            </div>
            <div class="input-field col s6">
              <select id='glutenFree' name='glutenFree' required>
                <option value="" disabled selected >Choose your option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">Not Verified</option>
              </select>
              <label>Gluten Free (required)</label>
            </div>
           
            
            <button class="btn waves-effect waves-light" type="submit" name="action">
              <i class="material-icons right">Create</i>
            </button>
          </form>
          </div>
        </div>
       
    </body>
</html>