   <nav>
   
   
   
    <div class='nav-wrapper'>
       <a href="#!" class="brand-logo center">BrewView</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <%if (currentUser) {%>
    <ul id='nav-mobile' class='left hide-on-med-and-down'>
    <li>Hello, <%=currentUser%></li>
    <li><a href = '/map#map'>Map</a></li>
    <li>
    <div class='col s12 search input-field'>
    <form id='brewSearch' action="/search" method = "GET">
          <input id="autocomplete-input" class='autocomplete fullSearchBar' type="search" placeholder='Search Breweries' name='search' required>
      </div>
      </form>
      </li>
   </ul>

     <%} else {%>
    <ul id='nav-mobile' class='left hide-on-med-and-down'>
    <li><a href = '/map#map'>Map</a></li>
  <li>
    <div class='col s12 search input-field'>
    <form id='brewSearch' action="/search" method = "GET">
          <input id="autocomplete-input" class='autocomplete fullSearchBar' type="search" placeholder='Search Breweries' name='search' required>
      </div>
      </form>
      </li>
   </ul>
     <%}%>
    <ul class='right hide-on-med-and-down'>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">menu</a>
  <%if (currentUser === 'TestUser1') {%>
    <li><a href='/map'>Home</a></li>
    <li><a href='/brew/new'>Add New</a></li>
    <li><form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Logout" class="btn"/>
</form>
</li>

  <%} else if (currentUser){ %>
<li><a href='/brew'>Home</a></li>
    
    <li><form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Logout" class="btn"/>
</form>
</li>
 <% } else {%>
    <li><a href='/map'>Home</a></li>
    <li><a href='/users/new'>Sign Up</a></li>
    <li><a href='/sessions/new'>Log In</a></li>
    <%}%>

<%# below is a search bar - currently doesn't doing anything and looks bad, but I'd like to keep this in here %>
<%# <li><form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form></li> %>
</ul>
</div>
</nav>

 <ul class="sidenav" id="mobile-demo">
   <%if (currentUser === 'TestUser1') {%>
    <li>
    <div class='row'>
    <form class='littleBrew' action="/search" method = "GET">
    <div class='col s12 search input-field'>
          <input id="autocomplete-input" class='autocomplete' type="text" placeholder='Search Breweries' name='search' required>
      </div>
      <!-----<div class='col s3'>
          <button type='submit'>Search</button>
         <div> ----->
      </form>
      </div></li>
    <li class='intro'>Hello, <%=currentUser%></li>
    <li><a href='/map'>Home</a></li>
    <li><a href='/brew/new'>Add New</a></li>
    <li><a href = '/map#map'>Map</a></li>
    <li><form class='mobileButton' action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Logout" class="btn"/>
</form>
</li>

  <%} else if (currentUser){ %>
    <li>
    <div class='row'>
    <form class='littleBrew' action="/search" method = "GET">
    <div class='col s12 search input-field'>
          <input id="autocomplete-input" class='autocomplete' type="text" placeholder='Search Breweries' name='search' required>
      </div>
      <!-----<div class='col s3'>
          <button type='submit'>Search</button>
         <div> ----->
      </form>
      </div></li>
<li class='intro'>Hello, <%=currentUser%></li>
<li><a href='/brew'>Home</a></li>
    <li><a href = '/map#map'>Map</a></li>
    
    <li><form class= 'mobileButton' action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Logout" class="btn"/>
</form>
</li>
 <% } else {%>
    <li>
    <div class='row'>
    <form class='littleBrew' action="/search" method = "GET">
    <div class='col s12 search input-field'>
          <input id="autocomplete-input" class='autocomplete' type="text" placeholder='Search Breweries' name='search' required>
      </div>
      <!-----<div class='col s3'>
          <button type='submit'>Search</button>
         <div> ----->
      </form>
      </div></li>
    <li><a href='/map'>Home</a></li>
    <li><a href='/users/new'>Sign Up</a></li>
    <li><a href='/sessions/new'>Log In</a></li>
    <li><a href = '/map#map'>Map</a></li>
    <%}%>
  </ul>