<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
    <body>
    <nav>
    <a href='/brew/new'>Add New</a>
    <a href='/users/new'>Sign Up</a>
    <a href='/sessions/new'>Log In</a>
      <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
</form>
    </nav>
      <div class="container">
        <h1>Welcome to Brew View</h1>
        <% if(currentUser){ %>
          <%=currentUser.username%>
          <%}%>
        
        <% brews.forEach((brewery) => {%>
        <div class="row">
           <a href='/brew/<%=brewery.id%>'><%= brewery.name %> </a>
           <a href='/brew/<%=brewery.id%>/edit'>Edit</a>

          </div>
        <%})%>
        </div>
    </body>
</html>