body {
    background-color: #474a51;
    color: white;
}

nav {
    background-color: rgb(224, 120, 53);
    position: sticky;
    top: 0;
    z-index: 1
    /* this makes it a sticky nav */
}

.nav-wrapper {
    padding: 0 2%
}
/* .container{
    padding-top: 10%;
     /* this is pushing the content down so its not behind the nav
} */
#map {
    height: 100%;
    width: 100%;
    margin: 2% auto;
  }

.mapContainer {
    height: 70%;
    width: 75%;
    margin: 5% auto;
}
/* this is some weird stuff goign on in here that it doesn't resize nice */
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      /* map is a little busted at small sizes - will need to fix */


.reviewInputBox {
    background-color: white;
}
.btn {
    /* background-color: rgb(156, 223, 253) */
    z-index: 0;
    color: white;
}

/* NOtes to self - log out button seems to be busted on certain pages - works but looks funny.  On maps page, not convinced I like dark grey body color */

/*  */


#search{
    border-bottom: none
}