
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Changa+One');

body {
    background-color: #474a51;
    color: white;
}

nav {
    background-color: rgb(224, 120, 53);
    position: sticky;
    top: 0;
    z-index: 1
    /* this makes it a sticky nav */
}

.nav-wrapper {
    padding: 0 2%
}
/* .container{
    padding-top: 10%;
     /* this is pushing the content down so its not behind the nav
} */
#map {
    height: 100%;
    width: 100%;
    margin: 6% auto;
  }

.mapContainer {
    height: 70%;
    width: 75%;
    margin: 5% auto;
}
/* this is some weird stuff goign on in here that it doesn't resize nice */
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      
      /* map is a little busted at small sizes - will need to fix */


.reviewInputBox {
    background-color: white;
}
.btn {
    /* background-color: rgb(156, 223, 253) */
    z-index: 0;
    color: white;
}

/* NOtes to self - log out button seems to be busted on certain pages - works but looks funny.  On maps page, not convinced I like dark grey body color */

/*  */


#search{
    border-bottom: none
}

.centerHeader {
    text-align: center;
}

.content {
    color: black;
}

.brewName {
    margin: 0 auto;
    padding: 0 auto;
}

.intro {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    padding: 0 32px;
    /* this is to just make this look the same as the links */
}


.fullSearchBar {
    color: white;
    
    display: inline-block !important;
    padding-left: 0 !important;
    padding: 5% !important;
    padding-right: 2rem !important;
}
.fullSearchBar:active{
    border-bottom: none;
    /* background-color: white !important; */
    
}

.searchBtn {
    margin: 0;
    /* padding: 0 */
}

.noPadding {
    padding: 0 !important;
}

.mobileButton {
    /* margin: 2% !important; */
    padding: 0 32px !important;
}
.material-icons {
    font-size: 32px !important;
}


.brand-logo {
    font-family: 'Changa One', cursive; 
    font-size: 2.5rem !important;
}

.mainHeaderClass {
    font-family: 'Bitter', serif;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
}

footer {
    text-align: center;
    font-size: 10px;
    color: rgb(150,150,150)
}